@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@400;600;700&display=swap');

:root {
  --color-white: #fff;
  --color-black: #000;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: var(--color-black);
  color: var(--color-white);
  font-family: 'Familjen Grotesk', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
}

/* Default state */
.header-who-we-are,
.header-our-goals,
.header-our-history {
    color: var(--color-white);
    transition: color 0.3s ease;
}

/* Hover states */
.header-who-we-are:hover {
    color: #99431f;
}

.header-our-goals:hover {
    color: #99431f;
}

.header-our-history:hover {
    color: #99431f;
}

/* Header & Navbar */


.main-header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  width: 100%;
  height: 70px;
  padding: 0 30px;
  transition: background-color 0.5s ease, opacity 0.5s ease; 
  will-change: opacity, background-color;
}

.main-header .desktop-main-menu ul li a {
  font-weight: bold !important;
}
.hidden-header * {
  opacity: 0;
  visibility: hidden;
}


/* Logo */

.logo {
  width: 185px;
  height: auto;
}

.logo img {
  display: block;
  width: 75%;
  height: auto;
}

/* Desktop Menu */

.desktop-main-menu {
  margin-right: 50px;
}

.desktop-main-menu ul {
  display: flex;
}

.desktop-main-menu ul li {
  position: relative;
  margin-right: 20px;
  padding-bottom: 2px;
}

/* Menu Item Bottom Border */

.desktop-main-menu ul li a::after {
  content: '';
  font-weight: bold;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #99431f;
  transform: scaleX(0);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transform-origin: right center;
}

.desktop-main-menu ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: left center;
  transition-duration: 0.4s;
}

/* Sections */

section {
  position: relative;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-inner {
  position: absolute;
  bottom: 200px;
  left: 150px;
  max-width: 560px;
  padding: 0;
}

.section-inner h4 {
  font-size: 22px !important;
  font-weight: 300;
  margin-bottom: 0px;
  animation: fadeInUp 0.5s ease-in-out;
}

.section-inner h3 {
  font-size: 20px !important;
  font-weight: 300;
  margin-bottom: 2px !important;
  margin-top: 0px !important;
  animation: fadeInUp 0.5s ease-in-out;
}

.section-inner h2 {
  font-size: 41px !important;
  margin-bottom: 2px !important;
  margin-top: 0px !important;
  animation: fadeInUp 0.5s ease-in-out 0.2s;
  animation-fill-mode: both; /* Stop from showing at start */
}

.section-inner a {
  animation: fadeInUp 0.5s ease-in-out 0.4s;
  animation-fill-mode: both; /* Stop from showing at start */
}

.video-background {
  position: relative;
  overflow: hidden;
}

.video-background video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translateX(-50%) translateY(-50%);
}

/* Background Images */

/* .section-a {
  background-image: url('../assets/images/main2.gif');
} */

.section-a {
  background-image: url('../assets/images/9.jpg');
}

.section-b {
  background-image: url('../assets/images/leva2.jpg');
}

.section-c {
  background-image: url('../assets/images/ut4.jpg');
}

.section-d {
  background-image: url('../assets/images/bevo4.jpg');
}

.section-e {
  background-image: url('../assets/images/rash2.webp');
}

.section-f {
  background-image: url('../assets/images/joinus2.jpg');
}

.section-aa {
  background-image: url('../assets/images/pastmiss2.png');
}

.section-ba {
  background-image: url('../assets/images/leva2.jpg');
}

.section-ca {
  background-image: url('../assets/images/arm2.jpg');
}

.section-da {
  background-image: url('../assets/images/bevo3.jpg');
}

.section-ea {
  background-image: url('../assets/images/pacee.JPG');
}

.section-fa {
  background-image: url('../assets/images/minotaur8.jpg');
}

.section-ab {
  background-image: url('../assets/images/onmis2.jpg');
}

.section-bb {
  background-image: url('../assets/images/serp3.webp');
}

.section-cb {
  background-image: url('../assets/images/vision.webp');
}

.section-db {
  background-image: url('../assets/images/tma.webp');
}

.section-eb {
  background-image: url('../assets/images/wb4.jpg');
}

.section-ac {
  background-image: url('../assets/images/black.png');
}

.section-awb {
  background-image: url('../assets/images/aboutuseco.jpg');
}

.section-aserp {
  background-image: url('../assets/images/team1.jpg');
}

.section-av {
  background-image: url('../assets/images/vision.webp');
}

.section-atma {
  background-image: url('../assets/images/tma.webp');
}

.section-ju {
  background-image: url('../assets/images/utexas2.jpg');
}

.section-jun {
  background-image: url('../assets/images/team1.jpg');
}

.btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  min-width: 130px;
  padding: 15px 50px;
  margin-top: 10px;
  border: 2px solid var(--color-white);
  font-weight: 700;
  overflow: hidden;
  z-index: 2;
}

.btn:hover span {
  color: var(--color-black);
}

.btn .hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-white);
  color: var(--color-black);
  z-index: -1;
  transform: translateY(100%);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn:hover .hover {
  transform: translateY(0);
}

.scroll-arrow {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  animation: fadeBounce 5s infinite;
}

/* Footer */

footer {
  position: relative;
  padding: 55px 0;
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

footer ul li {
  color: #aaa;
  font-size: 13px;
  line-height: 2.5;
  margin-right: 30px;
  text-transform: uppercase;
}

footer ul li a {
  color: var(--color-white);
  transition: color 0.6s;
}

footer ul li a:hover {
  color: #aaa;
}

/* Hamburger Menu */

.hamburger {
  position: fixed;
  top: 28px;
  right: 20px;
  z-index: 10;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background: none;
  border: none;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 20px;
  height: 2px;
  top: 0;
  left: 0;
  background: var(--color-white);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(5px);
}

.hamburger-bottom {
  transform: translateY(10px);
}

/* New styles for hover effect */
.hamburger:hover .hamburger-top,
.hamburger:hover .hamburger-middle,
.hamburger:hover .hamburger-bottom {
  background: #99431f;  /* Change to desired color */
}

.hamburger.open:hover .hamburger-top,
.hamburger.open:hover .hamburger-bottom {
  background: #99431f;  /* Change to desired color */
}
.open {
  transform: rotate(90deg);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

/* Overlay */

.overlay-show {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.stop-scrolling {
  overflow: hidden;
}

/* Hide Mobile Main Items */

.mobile-only {
  display: none;
}

/* Mobile Menu */

.mobile-main-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 350px;
  height: 100%;
  background-color: var(--color-black);
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(100%);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.mobile-main-menu ul li a {
  font-weight: bold;
}

/* Bring Menu from Right */

.show-menu {
  transform: translateX(0);
}

.mobile-main-menu ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 50px;
  width: 100%;
}

.mobile-main-menu ul li {
  border-bottom: 1px solid #555;
  font-size: 18px;
  margin-bottom: 20px;
  padding-bottom: 8px;
  text-align: right;
  width: 100%;
}

.mobile-main-menu ul li a {
  color: var(--color-white);
  transition: color 0.6s;
}

.mobile-main-menu ul li a:hover {
  color: #99431f;
}

/* Inner Pages */

.bg-falcon-9 {
  background-image: url('../assets/images/falcon-9.webp');
}

.bg-falcon-heavy {
  background-image: url('../assets/images/falcon-heavy.webp');
}

.bg-dragon {
  background-image: url('../assets/images/dragon.webp');
}

.section-animate {
  animation: fadeIn 2s ease-in-out;
}

.section-inner-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
}

.section-inner-center h3 {
  font-size: 100px;
  margin-bottom: 15px;
  animation: fadeInUp 0.5s ease-in-out;
}

.section-inner-center p {
  font-size: 20px;
  animation: fadeInUp 0.5s ease-in-out 0.2s;
  animation-fill-mode: both;
}

/* Stats */

.stats {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.stats div span {
  font-size: 160px;
}

.stats div h4 {
  font-size: 24px;
  font-weight: 300;
}

/* Animations */

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(140px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeBounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }

  40% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Media Queries */

@media (max-width: 960px) {
  /* Hide Desktop Menu */

  .desktop-main-menu {
    display: none;
  }

  /* Show Mobile Main Items */

  .mobile-only {
    display: block;
  }

  .section-inner-center h3 {
    font-size: 75px;
  }
}

@media (max-width: 600px) {
  .section-inner {
    bottom: 75px;
    left: 20px !important;
  }

  .main-header {
    justify-content: flex-start !important; /* center everything in the header on mobile */
  }

  .logo {
    position: absolute !important;
    left: 55.5% !important; /* Move the logo to the center */
    transform: translateX(-55.5%) !important; /* Adjust for the logo's own width to perfectly center it */
  }

  .hamburger {
    position: fixed;
    top: 28px;
    right: 20px;
  }

  .section-inner h2 {
    font-size: 40px;
  }

  footer ul li:first-child {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  footer ul li {
    margin-right: 15px;
  }

  .logo {
    width: 150px;
    margin: auto;
  }

  .section-inner-center h3 {
    font-size: 50px;
  }

  .stats {
    flex-direction: column;
  }

  .stats div {
    margin-bottom: 20px;
  }
}

.black-background {
  background-color: var(--color-black);
  transition: transform 0.5s ease, background-color 0.5s ease;
}

::selection {
  background-color: #99431f;
  color: #fff;
}

/* For better cross-browser compatibility */
::-moz-selection {
  background-color: #99431f;
  color: #fff;
}

.faded-header {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.about-us-container {
  max-width: 1300px; /* This ensures the text doesn't span the entire width. Adjust as needed. */
  margin: 100px auto 0px; /* Centers the container and adds spacing above and below */
  padding: 20px; /* Padding around the content for spacing */
  background-color: var(--color-black); /* Background color */
  color: var(--color-white); /* Text color */
  height: auto
}

.section-para h3 {
  font-size: 24px; /* Adjust the size of the subheadings if needed */
  margin-top: 30px; /* Spacing above each subheading */
}

.section-para p {
  margin-bottom: 10px; /* Spacing after each paragraph */
}

.weather-balloon-container {
  max-width: 1300px; /* This ensures the text doesn't span the entire width. Adjust as needed. */
  margin: 50px auto 0px; /* Centers the container and adds spacing above and below */
  padding: 20px; /* Padding around the content for spacing */
  background-color: var(--color-black); /* Background color */
  color: var(--color-white); /* Text color */
  height: auto
}

.section-para h3 {
  font-size: 24px; /* Adjust the size of the subheadings if needed */
  margin-top: 30px; /* Spacing above each subheading */
}

.section-para p {
  margin-bottom: 10px; /* Spacing after each paragraph */
}

.serpent-container {
  max-width: 1300px; /* This ensures the text doesn't span the entire width. Adjust as needed. */
  margin: 0px auto 0px; /* Centers the container and adds spacing above and below */
  padding: 20px; /* Padding around the content for spacing */
  background-color: var(--color-black); /* Background color */
  color: var(--color-white); /* Text color */
  height: auto
/* Reduced spacing */
}

.section-para h3 {
  font-size: 24px; /* Adjust the size of the subheadings if needed */
  margin-top: 30px; /* Spacing above each subheading */
}

.section-para p {
  margin-bottom: 10px; /* Spacing after each paragraph */
}

.inline-list {
  list-style: decimal outside;
  padding-left: 20px; /* Adjust based on your design */
}

.inline-list li {
  display: inline;
  margin-right: 15px;
}

.static-image-container {
  text-align: center;  /* Center the image if it's smaller than the container */
  padding: 20px 0;    /* Add some space around the image */
}

.static-image-container img {
  max-width: 100%;  /* Ensure the image doesn't overflow its container */
  height: auto;     /* Maintain the image's aspect ratio */
}

.research-container {
  max-width: 1300px; /* This ensures the text doesn't span the entire width. Adjust as needed. */
  margin: 100px auto 0px; /* Centers the container and adds spacing above and below */
  padding: 20px; /* Padding around the content for spacing */
  background-color: var(--color-black); /* Background color */
  color: var(--color-white); /* Text color */
  height: auto
}

.research-container .entry-content a {
  color: #99431f; /* burnt orange color */
}

.research-container .entry-content a:hover {
  color: #cc5500; /* slightly brighter shade for hover effect */
}

.facilities-container {
  max-width: 1300px; /* This ensures the text doesn't span the entire width. Adjust as needed. */
  margin: 100px auto 0px; /* Centers the container and adds spacing above and below */
  padding: 20px; /* Padding around the content for spacing */
  background-color: var(--color-black); /* Background color */
  color: var(--color-white); /* Text color */
  height: auto
}


body {
  margin: 0;
  padding: 0;
  line-height: 1.1;
  color: #ffffff;
  background-color: #000000;
}

.blog-post {
  max-width: 800px;
  margin: 100px auto;
  padding: 20px;
  background-color: #0a0a0a;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.blog-title {
  font-size: 2.5em;
  margin-bottom: 15px;
  color: #ffffff;
}

.separator {
  border: 0;
  height: 1px;
  background: #ebebeb;
  margin: 10px 0;
}

.blog-date {
  font-size: 0.9em;
  color: #ffffff;
  margin-bottom: 20px;
}


.blog-image {
  max-width: 100%;
  margin: 0 auto 20px; /* Centered the image by auto margin */
  display: block; /* Make the image a block element to respect margins */
}

.blog-content {
  font-size: 1.1em;
  line-height: 1.7;
  color: #ffffff;
}

.blog-listing {
    max-width: 800px;
    margin: 150px auto; /* Space to prevent overlap with the header */
    padding: 20px;
    background-color: #0a0a0a;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
}

.blog-summary {
    border-bottom: 1px solid #ffffff; /* Separate individual blog summaries */
    padding-bottom: 20px; /* Padding at the bottom of each summary */
    margin-bottom: 20px; /* Margin between summaries */
}

.blog-summary h2 {
    font-size: 1.6em;
    margin-top: 0;
    margin-bottom: 10px;
}

.blog-summary h2 a {
    color: #ffffff;
    text-decoration: none;
}

.blog-summary p {
  color: #ffffff;
  text-decoration: none;
}


.post-meta {
    font-size: 0.9em;
    color: #ffffff;
    margin-bottom: 15px;
}

.read-more {
    color: #99431f; /* Adjust color for the "Read More" link */
    text-decoration: none;
    font-weight: bold;
}

.read-more:hover {
    text-decoration: underline;
}

.blog-post {
  border-radius: 15px;
  /* ... other styles ... */
}

.section.ablog {
  border-radius: 10px; /* This will give rounded corners */
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1); /* This will add a subtle shadow */

  /* ... other styles ... */
}

.join-us-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px 0; /* Offset for header overlap */
  padding: 0 20px; /* Added some padding on the sides for smaller screens */
  max-width: 960px; /* Ensures the content doesn't span the entire screen width */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -250px;
}

.section {
  text-align: center;
  margin-bottom: 50px;
  width: 100%; /* Adjust as needed */
}

.boxed-link a {
  display: block;
  border: 2px solid var(--color-white);
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 8px;
  text-decoration: none;
  color: var(--color-white);
  transition: background-color 0.3s;
}

.boxed-link a:hover {
  background-color: #99431f; /* or whatever color you desire */
  color: var(--color-black);
}

.date-box {
  display: inline-block;
  border: 1px solid var(--color-white);
  padding: 5px 10px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.date {
  font-weight: bold;
  color: #99431f; /* Adjust as needed */
}


/* Base styles */
.video-container {
  position: relative;
  height: 10;
  overflow: hidden;
  max-width: 640px; /* Limit the maximum width on desktop */
  margin: auto; /* This will center the div if it has a max-width */
}

/* This maintains the 16:9 aspect ratio */
.video-container::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* Responsive styles */
@media (max-width: 992px) {
  .video-container {
    max-width: 100%; /* On smaller screens, the video can stretch to full width */
  }
}

@media (max-width: 768px) {
  .video-container {
    /* Optionally, you can set a specific max-width for smaller devices */
  }
}

@media (max-width: 480px) {
  .video-container {
    /* Optionally, you can set a specific max-width for extra small devices */
  }
}

.team-member {
  background: #1c1c1c;
  color: var(--color-black);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100px; /* Width for 3 columns, adjusting the 40px for margins */
  margin: 20px; /* Margin around each card */
  box-sizing: border-box; /* Includes padding and border in the width and height */
  height: 275px;
  border-top: 4px solid #ff6a00; /* Example orange color for the top border */
  color: #ffffff; /* Set your desired text color, this is white */
}

.team-member img {
  width: 150px; /* Smaller width for the image */
  height: 150px; /* Maintain aspect ratio */
  border-radius: 50%; /* Circular image */
  object-fit: cover; /* Ensures the image covers the area without distortion */
  margin-bottom: 10px; /* Less space below the image */
}

/* Text styles for team member names and positions can be adjusted as needed */
.team-member h3 {
  font-size: 1em; /* Adjust font size as needed */
  margin: 5px 0;
  color: hsl(0, 0%, 100%); /* Example: Set the name to an orange color */
}

.team-member p {
  font-size: 0.85em; /* Smaller font size for the position */
  margin: 5px 0;
  color: #ffffff; /* Example: Set the job title to a light grey color */
}

/* Styles for social links */
.team-member .social-links {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  gap: 8px; /* Less gap between icons */
}

/* Styles for the social links icons */
.team-member .social-links a {
  display: inline-block; /* Makes the link behave like a block element that can be sized */
  width: 24px; /* Set a fixed width for the icons */
  height: 24px; /* Set a fixed height for the icons */
  margin: 0 5px; /* Add some horizontal space between the icons */
  text-decoration: none; /* Removes underline from links */
}

.team-member .social-links a img {
  width: 100%; /* Makes the image fill the anchor element */
  height: auto; /* Maintains the aspect ratio of the image */
  vertical-align: middle; /* Aligns the image vertically inside the anchor */
}

/* Adjust the size of the card if necessary to ensure everything fits */
.team-member {
  /* ... other styles ... */
  padding: 15px; /* You might need to adjust the padding */
  /* ... other styles ... */
}


.team-container {
  max-width: 1300px; /* Maximum width of the container */
  margin: 0 auto; /* Centers the container */
  padding: 20px; /* Padding inside the container */
  display: flex; /* Enables flexbox layout */
  flex-wrap: wrap; /* Allows items to wrap to the next line */
  justify-content: flex-start; /* Spaces out the cards evenly */
  background-color: var(--color-black); /* Background color */
  color: var(--color-white); /* Text color */
  padding-bottom: 250px;
  margin-bottom: 5000px;

}/* Styles for desktop view */

/* Styles for desktop view */
@media (min-width: 992px) {
  .team-member {
    width: calc(33.333% - 60px); /* Adjust width for 3 cards per row, subtracting the total margin */
    margin: 20px; /* Provides space between the cards */
    /* Other styles remain unchanged */
  }
}

/* Styles for mobile view */
@media (max-width: 991px) {
  .team-member {
    width: 100%; /* Full width on mobile */
    margin: 20px 0; /* Top and bottom margins */
    /* Other styles remain unchanged */
  }
}

/* Ensure that other elements inside the card do not exceed the card's width */
.team-member > * {
  max-width: 100%;
}




/* Adding a title within the team container but on its own row */
.team-container .team-section-title {
  width: 100%;
  text-align: left;
  margin: -50px 0; /* Adjust top and bottom margin as needed */
  padding: 0;
}

.team-container .team-section-title {
  margin: 20px 0; /* Adjust this to reduce the space on mobile */
}

/* Remove any default margins from headings that may cause extra space */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}

/* Ensure that other elements inside the card do not exceed the card's width */
.team-member > * {
  max-width: 100%;
}

