@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@400;600;700&display=swap');

:root {
  --color-white: #fff;
  --color-black: #000;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: var(--color-black);
  color: var(--color-white);
  font-family: 'Familjen Grotesk', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
}

/* Default state */
.header-who-we-are,
.header-our-goals,
.header-our-history {
    color: var(--color-white);
    transition: color 0.3s ease;
}

/* Hover states */
.header-who-we-are:hover {
    color: #99431f;
}

.header-our-goals:hover {
    color: #99431f;
}

.header-our-history:hover {
    color: #99431f;
}

/* Header & Navbar */


.main-header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  width: 100%;
  height: 70px;
  padding: 0 30px;
  transition: background-color 0.5s ease, opacity 0.5s ease; 
  will-change: opacity, background-color;
}

.main-header .desktop-main-menu ul li a {
  font-weight: bold;
}
.hidden-header * {
  opacity: 0;
  visibility: hidden;
}


/* Logo */

.logo {
  width: 185px;
  height: auto;
}

.logo img {
  display: block;
  width: 75%;
  height: auto;
}

/* Desktop Menu */

.desktop-main-menu {
  margin-right: 50px;
}

.desktop-main-menu ul {
  display: flex;
}

.desktop-main-menu ul li {
  position: relative;
  margin-right: 20px;
  padding-bottom: 2px;
}

/* Menu Item Bottom Border */

.desktop-main-menu ul li a::after {
  content: '';
  font-weight: bold;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #99431f;
  transform: scaleX(0);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transform-origin: right center;
}

.desktop-main-menu ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: left center;
  transition-duration: 0.4s;
}

/* Sections */

section {
  position: relative;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-inner {
  position: absolute;
  bottom: 200px;
  left: 150px;
  max-width: 560px;
  padding: 0;
}

.section-inner h4 {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 0px;
  animation: fadeInUp 0.5s ease-in-out;
}

.section-inner h3 {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 10px;
  animation: fadeInUp 0.5s ease-in-out;
}

.section-inner h2 {
  font-size: 50px;
  margin-bottom: -5px;
  animation: fadeInUp 0.5s ease-in-out 0.2s;
  animation-fill-mode: both; /* Stop from showing at start */
}

.section-inner a {
  animation: fadeInUp 0.5s ease-in-out 0.4s;
  animation-fill-mode: both; /* Stop from showing at start */
}

/* Background Images */

.section-a {
  background-image: url('../assets/images/cs1.1.webp');
}

.section-b {
  background-image: url('../assets/images/serp3.png');
}

.section-c {
  background-image: url('../assets/images/balloon4n.webp');
}

.section-d {
  background-image: url('../assets/images/bevo1.1.webp');
}

.section-e {
  background-image: url('../assets/images/rash2.webp');
}

.section-f {
  background-image: url('../assets/images/TSLteam.webp');
}

.section-aa {
  background-image: url('../assets/images/pastmiss2.png');
}

.section-ba {
  background-image: url('../assets/images/seeker1.jpg');
}

.section-ca {
  background-image: url('../assets/images/arm2.jpg');
}

.section-da {
  background-image: url('../assets/images/bevo3.jpg');
}

.section-ea {
  background-image: url('../assets/images/pacee.JPG');
}

.section-fa {
  background-image: url('../assets/images/minotaur8.jpg');
}

.section-ab {
  background-image: url('../assets/images/serp.webp');
}

.section-bb {
  background-image: url('../assets/images/serp3.webp');
}

.section-cb {
  background-image: url('../assets/images/vision.webp');
}

.section-db {
  background-image: url('../assets/images/tma.webp');
}

.section-eb {
  background-image: url('../assets/images/balloon4n.webp');
}

.section-ac {
  background-image: url('../assets/images/black.png');
}

.section-awb {
  background-image: url('../assets/images/balloon4n.webp');
}

.section-aserp {
  background-image: url('../assets/images/serp3.webp');
}

.section-av {
  background-image: url('../assets/images/vision.webp');
}
.section-atma {
  background-image: url('../assets/images/tma.webp');
}

.btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  min-width: 130px;
  padding: 15px 50px;
  margin-top: 10px;
  border: 2px solid var(--color-white);
  font-weight: 700;
  overflow: hidden;
  z-index: 2;
}

.btn:hover span {
  color: var(--color-black);
}

.btn .hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-white);
  color: var(--color-black);
  z-index: -1;
  transform: translateY(100%);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn:hover .hover {
  transform: translateY(0);
}

.scroll-arrow {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  animation: fadeBounce 5s infinite;
}

/* Footer */

footer {
  position: relative;
  padding: 55px 0;
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

footer ul li {
  color: #aaa;
  font-size: 13px;
  line-height: 2.5;
  margin-right: 30px;
  text-transform: uppercase;
}

footer ul li a {
  color: var(--color-white);
  transition: color 0.6s;
}

footer ul li a:hover {
  color: #aaa;
}

/* Hamburger Menu */

.hamburger {
  position: fixed;
  top: 28px;
  right: 20px;
  z-index: 10;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background: none;
  border: none;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 20px;
  height: 2px;
  top: 0;
  left: 0;
  background: var(--color-white);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(5px);
}

.hamburger-bottom {
  transform: translateY(10px);
}

/* New styles for hover effect */
.hamburger:hover .hamburger-top,
.hamburger:hover .hamburger-middle,
.hamburger:hover .hamburger-bottom {
  background: #99431f;  /* Change to desired color */
}

.hamburger.open:hover .hamburger-top,
.hamburger.open:hover .hamburger-bottom {
  background: #99431f;  /* Change to desired color */
}
.open {
  transform: rotate(90deg);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

/* Overlay */

.overlay-show {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.stop-scrolling {
  overflow: hidden;
}

/* Hide Mobile Main Items */

.mobile-only {
  display: none;
}

/* Mobile Menu */

.mobile-main-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 350px;
  height: 100%;
  background-color: var(--color-black);
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(100%);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.mobile-main-menu ul li a {
  font-weight: bold;
}

/* Bring Menu from Right */

.show-menu {
  transform: translateX(0);
}

.mobile-main-menu ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 50px;
  width: 100%;
}

.mobile-main-menu ul li {
  border-bottom: 1px solid #555;
  font-size: 18px;
  margin-bottom: 20px;
  padding-bottom: 8px;
  text-align: right;
  width: 100%;
}

.mobile-main-menu ul li a {
  color: var(--color-white);
  transition: color 0.6s;
}

.mobile-main-menu ul li a:hover {
  color: #99431f;
}

/* Inner Pages */

.bg-falcon-9 {
  background-image: url('../assets/images/falcon-9.webp');
}

.bg-falcon-heavy {
  background-image: url('../assets/images/falcon-heavy.webp');
}

.bg-dragon {
  background-image: url('../assets/images/dragon.webp');
}

.section-animate {
  animation: fadeIn 2s ease-in-out;
}

.section-inner-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
}

.section-inner-center h3 {
  font-size: 100px;
  margin-bottom: 15px;
  animation: fadeInUp 0.5s ease-in-out;
}

.section-inner-center p {
  font-size: 20px;
  animation: fadeInUp 0.5s ease-in-out 0.2s;
  animation-fill-mode: both;
}

/* Stats */

.stats {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.stats div span {
  font-size: 160px;
}

.stats div h4 {
  font-size: 24px;
  font-weight: 300;
}

/* Animations */

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(140px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeBounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }

  40% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Media Queries */

@media (max-width: 960px) {
  /* Hide Desktop Menu */

  .desktop-main-menu {
    display: none;
  }

  /* Show Mobile Main Items */

  .mobile-only {
    display: block;
  }

  .section-inner-center h3 {
    font-size: 75px;
  }
}

@media (max-width: 600px) {
  .section-inner {
    bottom: 75px;
    left: 20px;
  }

  .section-inner h2 {
    font-size: 40px;
  }

  footer ul li:first-child {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  footer ul li {
    margin-right: 15px;
  }

  .logo {
    width: 150px;
    margin: auto;
  }

  .section-inner-center h3 {
    font-size: 50px;
  }

  .stats {
    flex-direction: column;
  }

  .stats div {
    margin-bottom: 20px;
  }
}

.black-background {
  background-color: var(--color-black);
  transition: transform 0.5s ease, background-color 0.5s ease;
}

::selection {
  background-color: #99431f;
  color: #fff;
}

/* For better cross-browser compatibility */
::-moz-selection {
  background-color: #99431f;
  color: #fff;
}

.faded-header {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.about-us-container {
  max-width: 1300px; /* This ensures the text doesn't span the entire width. Adjust as needed. */
  margin: 100px auto 0px; /* Centers the container and adds spacing above and below */
  padding: 20px; /* Padding around the content for spacing */
  background-color: var(--color-black); /* Background color */
  color: var(--color-white); /* Text color */
  height: auto
}

.section-para h3 {
  font-size: 24px; /* Adjust the size of the subheadings if needed */
  margin-top: 30px; /* Spacing above each subheading */
}

.section-para p {
  margin-bottom: 10px; /* Spacing after each paragraph */
}

.weather-balloon-container {
  max-width: 1300px; /* This ensures the text doesn't span the entire width. Adjust as needed. */
  margin: 100px auto 0px; /* Centers the container and adds spacing above and below */
  padding: 20px; /* Padding around the content for spacing */
  background-color: var(--color-black); /* Background color */
  color: var(--color-white); /* Text color */
  height: auto
}

.section-para h3 {
  font-size: 24px; /* Adjust the size of the subheadings if needed */
  margin-top: 30px; /* Spacing above each subheading */
}

.section-para p {
  margin-bottom: 10px; /* Spacing after each paragraph */
}

.serpent-container {
  max-width: 1300px; /* This ensures the text doesn't span the entire width. Adjust as needed. */
  margin: 0px auto 0px; /* Centers the container and adds spacing above and below */
  padding: 20px; /* Padding around the content for spacing */
  background-color: var(--color-black); /* Background color */
  color: var(--color-white); /* Text color */
  height: auto
/* Reduced spacing */
}

.section-para h3 {
  font-size: 24px; /* Adjust the size of the subheadings if needed */
  margin-top: 30px; /* Spacing above each subheading */
}

.section-para p {
  margin-bottom: 10px; /* Spacing after each paragraph */
}

.inline-list {
  list-style: decimal outside;
  padding-left: 20px; /* Adjust based on your design */
}

.inline-list li {
  display: inline;
  margin-right: 15px;
}

.static-image-container {
  text-align: center;  /* Center the image if it's smaller than the container */
  padding: 20px 0;    /* Add some space around the image */
}

.static-image-container img {
  max-width: 100%;  /* Ensure the image doesn't overflow its container */
  height: auto;     /* Maintain the image's aspect ratio */
}

.research-container {
  max-width: 1300px; /* This ensures the text doesn't span the entire width. Adjust as needed. */
  margin: 100px auto 0px; /* Centers the container and adds spacing above and below */
  padding: 20px; /* Padding around the content for spacing */
  background-color: var(--color-black); /* Background color */
  color: var(--color-white); /* Text color */
  height: auto
}

.research-container .entry-content a {
  color: #99431f; /* burnt orange color */
}

.research-container .entry-content a:hover {
  color: #cc5500; /* slightly brighter shade for hover effect */
}

.facilities-container {
  max-width: 1300px; /* This ensures the text doesn't span the entire width. Adjust as needed. */
  margin: 100px auto 0px; /* Centers the container and adds spacing above and below */
  padding: 20px; /* Padding around the content for spacing */
  background-color: var(--color-black); /* Background color */
  color: var(--color-white); /* Text color */
  height: auto
}
